/* css file for TMD Tango */

body {
  margin: 25px;
  color: #353535; 
  font-family: arial, sans-serif;
  font-size: 14px;
  --bs-link-color-rgb: 229, 131, 58;
  --bs-link-hover-color-rgb: 160, 79, 18;
  --bs-link-active-color-rgb: 160, 79, 18;
  --bs-link-visited-color-rgb: 229, 131, 58;
  --bs-link-opacity: 1;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  color: #e5833a;
  margin-top: 5px;
}

.divider {
  border-bottom: solid 1px var(--bs-navbar-color);
}
