# This script is provided for https://direnv.net/
if [ ! -d ".venv" ] ; then
    python3 -m venv .venv
    pip3 install -r utils/dev-requirements.txt
    pip3 install -r utils/requirements.txt
fi
source .venv/bin/activate
