<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    {% include 'common/css-js.html' %} {% block header %} {% endblock %}
  </head>
  <body>
    {% include 'common/nav.html' %} {% include 'common/messages.html' %}
    <article class="container main-content p-3">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% include 'common/breadcrumbs.html' %} {% block content %} {% endblock %}
    </article>
    {% include 'common/footer.html' %}
  </body>
</html>
