<footer data-bs-theme="dark">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-2">
        <h4>
          <b>TMD</b>
        </h4>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a
              href="https://github.com/elixir-europe-training/Training-Metrics-Database#readme"
              class="fa fa-instagram"
              >About and source code</a
            >
          </li>
          <li>
            <a
              href="https://github.com/elixir-europe-training/Training-Metrics-Database/wiki"
              >Guides and documentation</a
            >
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a
              href="https://github.com/elixir-europe-training/Training-Metrics-Database/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title="
              >Report a bug</a
            >
          </li>
          <li>
            <a
              href="https://github.com/elixir-europe-training/Training-Metrics-Database/issues/new?assignees=&labels=enhancement&projects=&template=feature_request.md&title="
              >Request a feature</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
