<head>
  <link rel="stylesheet" href="./static/metrics/css/footer.css">
</head>

<footer class="p-3" data-bs-theme="dark">
         <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
             <div class="col-12">
                  <div class="row row-2">
                    <div class="col-sm-3 text-md-center"><h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span><b>  Tango</b></h5></div>
                      <!-- <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0"></li></ul></div> -->
                      <!-- <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0"></li></ul></div> -->
                      <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0"><a href="https://github.com/elixir-europe-training/ELIXIR-TrP-Training-Metrics-Database-Tango#readme" class="fa fa-instagram">About</a></li><a href="https://github.com/elixir-europe-training/ELIXIR-TrP-Training-Metrics-Database-Tango/wiki">Help</a></li><li><a href="https://github.com/elixir-europe-training/ELIXIR-TrP-Training-Metrics-Database-Tango">Contribute</a></li><a href="https://github.com/elixir-europe-training/ELIXIR-TrP-Training-Metrics-Database-Tango/issues">Repot a bug</a></li></ul></div>
                      <!-- <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0"><a href="https://github.com/elixir-europe-training/ELIXIR-TrP-Training-Metrics-Database-Tango">Contribute</a></li><li><a href="https://github.com/elixir-europe-training/ELIXIR-TrP-Training-Metrics-Database-Tango/issues">Repot a bug</a></li></ul></div> --> 
         </div>
  </div>
</footer>