<html>
<head>
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(35, 33, 33);
  color: white;
  margin-top: auto;
}
body {
    min-height: 100vh;
  display: flex;
  flex-direction: column;

}
</style>
</head>
<body>

<footer>
  <p>ELIXIR Database for Training Metrics | ELIXIR<br>

    ELIXIR 2019 | The development of this database was supported by ELIXIR-EXCELERATE which is funded by the European Commission within the Research Infrastructures programme of Horizon 2020, grant agreement number 676559<br>
    
    The sole responsibility for the content of this webpage lies with ELIXIR. It does not necessarily reflect the opinion of the European Union and the European Commission is not responsible for any use that may be made of the information contained therein.<br>
  <a href="" style="color:#ff8800f5">Terms & conditions</a></p>
</footer>

</body>
</html>