{% load static %}

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-expand container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'metrics/img/white-orange-logo.png' %}" alt="Elixir TMD" height="40px">
        </a>
        <ul class="navbar-nav me-auto">
            {% for item in nav_items %}{% if item.type == "main" %}
            {% include 'common/nav-item.html' %}
            {% endif %}{% endfor %}
        </ul>
        <ul class="navbar-nav ms-auto">
            {% for item in nav_items %}{% if item.type == "user" %}
            {% include 'common/nav-item.html' %}
            {% endif %}{% endfor %}
        </ul>
        <button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                {% for item in nav_items %}{% if item.type == "side" %}
                {% include 'common/nav-item.html' %}
                {% endif %}{% endfor %}
                <li role="separator" class="divider"></li>
                {% for item in nav_items %}{% if item.type == "reports" %}
                {% include 'common/nav-item.html' %}
                {% endif %}{% endfor %}
                <li role="separator" class="divider"></li>
                {% for item in nav_items %}{% if item.type == "about" %}
                {% include 'common/nav-item.html' %}
                {% endif %}{% endfor %}
                <li role="separator" class="divider"></li>
                {% for item in nav_items %}{% if item.type == "auth" %}
                {% include 'common/nav-item.html' %}
                {% endif %}{% endfor %}
            </ul>
        </div>
    </div>
</nav>