{% extends "common/base.html" %}
{% block content %}
    <h1>{{title}}</h1>
    {% include 'common/tabs.html' %}
    {% include 'common/filter-form.html' %}
    {% include 'metrics/pagination.html' %}
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                {% for heading in table_headings %}
                <th>{{heading}}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in table_items %}
            <tr>
                {% for value, href in item %}
                <td>{% if href %}<a href="{{href}}">{{value}}</a>{% else %}{{value}}{% endif %}</td>{% endfor %}
            </tr>{% endfor %}
        </tbody>
    </table>
    {% include 'metrics/pagination.html' %}
{% endblock %}
