{% extends "common/base.html" %}
{% block content %}
    <h1>{{title}}</h1>
    {% include 'common/tabs.html' %}
    {% include 'metrics/data-warning.html' %}
    <h2>Stats</h2>
    <div class="mb-3 row">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for name, value in stats %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{% if value.1 %}<a href="{{ value.1 }}">{{ value.0 }}</a>{% else %}{{ value.0 }}{% endif %}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
    {% if form.fields or actions %}
    {% if form.fields %}<h2>Edit</h2>{% endif %}
    <div class="mb-3 row">
        {{form.errors}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3 row">
                <label for="{{field.html_name}}" class="col-sm-2 col-form-label">{{field.label}}</label>
                <div class="col-sm-10">
                    {{field}}
                </div>
            </div>
            {%endfor%}
            <hr />
            {% if form.fields and can_edit %}<button type="submit" class="btn btn-success">Update</button>{% endif %}
            {% for href, label in actions %}
            <a href="{{href}}" class="btn btn-danger">{{label}}</a>{% endfor %}
        </form>
    </div>
    {% endif %}
{% endblock %}