{% extends "common/base.html" %}
{% load form_utils %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ title }}</h1>
    {% include 'common/tabs.html' %}
    {% if formset %}
    <div class="mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table">
                <thead>
                    {% with formset.empty_form as form %}
                    <tr>
                    {% for field in form %}
                        <th scope="col">
                            {{ field.label }}
                        </th>
                    {% endfor %}
                    </tr>
                    {% endwith %}
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                    {% for field in form %}
                        <td>
                            <div class="value-inspector">
                            {% if field.errors %}
                                <span class="badge rounded-pill bg-danger status-badge">Errors</span>
                            {% else %}
                                <span class="badge rounded-pill bg-success status-badge">Validated</span>
                            {% endif %}
                                <div class="content" data-has-error="{%if field.errors %}true{% else %}false{% endif %}">
                                    {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-primary" role="alert">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                    {% for value in field.value|use_list %}<div><span class="badge rounded-pill {% if field.errors %}bg-danger{% else %}bg-primary{% endif %}">{{ value }}</span></div>{% endfor %}
                                    {{field}}
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                {% crispy submission_options %}
            </div>
        </form>
    </div>
    {% endif %}
    <pre>{{initial_data}}</pre>
{% endblock %}
