{% extends "common/base.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    {% include 'common/tabs.html' %}
    {% if formset %}
    <div class="mb-3 row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table">
                <thead>
                    {% with formset.empty_form as form %}
                    <tr>
                    {% for field in form %}
                        <th scope="col">
                            {{ field.label }}
                        </th>
                    {% endfor %}
                    </tr>
                    {% endwith %}
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                    {% for field in form %}
                        <td>
                            {{field.value}}
                            {{field}}
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success" type="submit">Continue</button>
        </form>
    </div>
    {% endif %}
    <pre>{{initial_data}}</pre>
{% endblock %}
